:root {
    --text-color: #202424;
    --red: #fe0000;
    --cyan: #35737c;
    --dark: #282626;
    --gray-dark: #2f3c3c;
    --gray-light: #b5cac6;
    --white: #ffffff;
    --yellow: #f6e7a1;
    --cyan-light: #317b85;
    --black: #000000;
}