@font-face{
    font-family: 'DINPro-Condensed';
    src: url('../../fonts/DINPro-CondensedLight.woff') format('woff'),
         url('../../fonts/DINPro-CondensedLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'DINPro-Condensed';
    src: url('../../fonts/DINPro-CondensedRegular.woff') format('woff'),
         url('../../fonts/DINPro-CondensedRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face{
    font-family: 'DINPro-Condensed';
    src: url('../../fonts/DINPro-CondensedMedium.woff') format('woff'),
         url('../../fonts/DINPro-CondensedRegular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'DINPro-Condensed';
    src: url('../../fonts/DINPro-CondensedBold.woff') format('woff'),
         url('../../fonts/DINPro-CondensedBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


